body {
  background-color: #0D0D0D;
  margin: 0;
  display: flex;
  flex-direction: column;
}
header {
    flex: 1;
    
    color: #BF6E0B;
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.boton {
height: 110px;
width: 220px;
}

.boton a {
    display: block;
    margin:45px ;
    padding: 15px;
    border-style: solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: #BF6E0B;
    text-decoration: none;
}

.boton a:hover {
    color: black;
    background-color: #BF6E0B;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

main{
    flex: 1;
}
main h3 {
    text-align: center;
    color: #0D0D0D;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    background-color: #D9910D;
    margin: 20px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
a {
    color: #ffffff
}

h1 {
  text-decoration: underline;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
h2  {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul.navmenu { 
    height: 81px;
    display: flex;
    justify-content: center;

}
ul.navmenu li {
    background-color:#BF6E0B;
    color: #0D0D0D;
    list-style-type: none;
    line-height: 75px;
    padding: 0px 30px;
    margin: 0 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

div.descripcion{
    background-color:#D9910D;
    margin: 30px 30px;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #0D0D0D;
}

footer{
    background-color: #BF6E0B;
    color: #0D0D0D;
    display: flex;
    flex-direction: row;   
}


img{
    width: 200px;
    border-radius: 50%;
    margin: 20px 40px 10px 30px;
}